<div class="navbar sticky">

  <!-- Logo & Name -->
  <div class="navbar-brand">
    <%= link_to products_path do %>
    <%= image_tag "logo.jpg", height: 50 %>
    <% end %>
    <%= link_to products_path do %>
    <h2>MYOS</h2>
    <% end %>
  </div>
  <% if current_page?(products_path)  %>
  <div class="search-form">
    <%= form_tag products_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class:"form-control", placeholder:"Look for..." %>
      <%= button_tag :submit, class: "product-button" do %>
      <i class="fas fa-search"></i>
    <% end %>
    <% end %>
  </div>
  <% end %>

  <!-- Shopping -->
  <div class="navbar-shopping">
    <%= link_to cart_path do %>
    <i class="fas fa-shopping-cart"></i>
    <p><%= pluralize(current_cart.items_count, 'Item') %></p>
    <% end %>
  </div>

</div>

