<div class="navbar sticky">

  <!-- Logo & Name -->
  <div class="navbar-brand">
    <%= link_to root_path do %>
    <%= image_tag "bowl.jpg", height: 50 %>
    <% end %>
    <h2>MYOS</h2>
  </div>

  <!-- Search -->
  <div id="navbar-search"  hidden-xs hidden-sm>
    <div id="search-bar">
      <%= form_tag(products_path, :method => "get", id: "search-form", remote: true) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Look for...", class: "form-control" %>
      <%= submit_tag "search", type: "submit", class: "search-icon"%>
      <% end %>
    </div>
  </div>

  <!-- Shopping -->

  <div class="navbar-shopping">
    <i class="fas fa-shopping-cart"></i>
    <%= link_to pluralize(current_cart.items_count, 'item'), cart_path %>
  </div>

</div>
