<div class="container">
  <div class="grid-show">
    <div class="card-show">
      <div class="card">
        <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bowl' %>')">
        </div>
        <div class="card-description">
          <%= @product.title  %>
        </div>
      </div>
    </div>
    <div class="info-show">
      <p><%= @product.description %></p>
      <p><%= @product.price %>€</p>
    </div>
      <%= form_tag order_items_path do %>
        <%= hidden_field_tag :product_id, @product.id %>
        <%= number_field_tag :quantity, 1 %>
        <%= submit_tag "Add to Cart" %>
      <% end %>
  </div>
</div>
